body {
    background-color: #0b0c10;
    color: #c5c6c7;
    font-family: 'Segoe UI', sans-serif;
}
.glass-panel {
    background: rgba(31, 40, 51, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid #45a29e;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
.sidebar {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 18rem;
    padding: 2rem 1rem;
    background-color: #1f2833;
    border-right: 1px solid #45a29e;
}
.text-info { color: #66fcf1 !important; }
.text-success { color: #39ff14 !important; }